In [16]:
a = [1, 4, 5, 7, 8, -2, 0, -1]
print(a)
print (a[3]) 
print(a[5])

[1, 4, 5, 7, 8, -2, 0, -1]
7
-2

In [21]:
a = [1, 4, 5, 7, 8, -2, 0, -1]
a_sorted = a.copy()
a_sorted.sort(reverse = True)
print('old list: ', a)
print('new list: ', a_sorted)

old list:  [1, 4, 5, 7, 8, -2, 0, -1]
new list:  [8, 7, 5, 4, 1, 0, -1, -2]

In [30]:
print(a_sorted[1:3])
print (a_sorted[2:6])

[7, 1]
[1, 0, -1, -2]

In [22]:
print(a_sorted)
a_sorted.pop(3)
a_sorted.pop(2)
print(a_sorted)

[8, 7, 5, 4, 1, 0, -1, -2]
[8, 7, 1, 0, -1, -2]

In [25]:
b = ['grapes', 'Potatoes', 'tomatoes', 'Orange', 'Lemon', 'Broccoli', 'Carrot', 'Sausages']
b_sorted = b.copy()
b_sorted.sort()
print('old list: ', b)
print('new list: ', b_sorted)

old list:  ['grapes', 'Potatoes', 'tomatoes', 'Orange', 'Lemon', 'Broccoli', 'Carrot', 'Sausages']
new list:  ['Broccoli', 'Carrot', 'Lemon', 'Orange', 'Potatoes', 'Sausages', 'grapes', 'tomatoes']

In [16]:
a = [1, 4, 5, 7, 8, -2, 0, -1]
b = ['grapes', 'Potatoes', 'tomatoes', 'Orange', 'Lemon', 'Broccoli', 'Carrot', 'Sausages']
c = a[1:3] + b[4:6]
print (c)

[4, 5, 'Lemon', 'Broccoli']

In [17]:
a1 = ['Cookies', 'Chocolate', 8, True, -3, -5, 'Chocolate', 8, False, 8]
b1 = [8, True, 10, 14, 'Chocolate', 'Milk', 'Jelly', True, False, True]

In [18]:
set_a = set(a1)
set_b = set(b1)

In [21]:
print('set_a:', set_a)
print('set_b:', set_b)
union_ab = set_a.union(set_b)
print (union_ab)

set_a: {False, True, 8, 'Chocolate', 'Cookies', -5, -3}
set_b: {False, True, 8, 'Chocolate', 10, 14, 'Milk', 'Jelly'}
{False, True, 8, 'Chocolate', 'Cookies', 10, 14, 'Milk', -5, 'Jelly', -3}

In [19]:
print('set_a:', set_a)
print('set_b:', set_b)
intersection_ab = set_a.intersection(set_b)
print (intersection_ab)

set_a: {False, True, 8, 'Chocolate', 'Cookies', -5, -3}
set_b: {False, True, 8, 'Chocolate', 10, 14, 'Milk', 'Jelly'}
{False, True, 'Chocolate', 8}

In [22]:
union_ab.add('Kitkat')
union_ab.add('Oreo')
print (union_ab)

{False, True, 'Kitkat', 8, 'Chocolate', 'Cookies', 10, 14, 'Milk', 'Oreo', -5, 'Jelly', -3}

In [23]:
print('union_ab: ', union_ab)
print('intersection_ab: ', intersection_ab)
new_set = union_ab | intersection_ab
print (new_set)

union_ab:  {False, True, 'Kitkat', 8, 'Chocolate', 'Cookies', 10, 14, 'Milk', 'Oreo', -5, 'Jelly', -3}
intersection_ab:  {False, True, 'Chocolate', 8}
{False, True, 'Kitkat', 8, 'Chocolate', 'Cookies', 10, 14, 'Milk', 'Oreo', -5, 'Jelly', -3}

In [24]:
print('new_set: ', new_set)
'Chocolate' in new_set

new_set:  {False, True, 'Kitkat', 8, 'Chocolate', 'Cookies', 10, 14, 'Milk', 'Oreo', -5, 'Jelly', -3}

True

In [26]:
print("new_set:", new_set)
new_set.remove("Oreo")
print (new_set)

new_set: {False, True, 'Kitkat', 8, 'Chocolate', 'Cookies', 10, 14, 'Milk', 'Oreo', -5, 'Jelly', -3}
{False, True, 'Kitkat', 8, 'Chocolate', 'Cookies', 10, 14, 'Milk', -5, 'Jelly', -3}

In [60]:
t1 = (1, True, 'a', -2, 'Anna')

In [51]:
t1 = (1, True, 'a', -2, 'Anna')
print (t1)
t1 = t1[:1] + t1[2:]
print(t1)

(1, True, 'a', -2, 'Anna')
(1, 'a', -2, 'Anna')

In [77]:
t1 = (1, True, 'a', -2, 'Anna')
t2 = (1, 2, 3, 4, 5)
t3 = t1[:2] + t2[:3]
print (t3)

(1, True, 1, 2, 3)

In [78]:
t3[2]

1

In [84]:
list = [(1,3,5), (8,9), ('Anna', 'Bob', 'Alice')]

print(list[0][1])

3

In [6]:
market = {"dairy": ["yogurt", "cheese"], "fruits": ["banana", "apple", "orange", "lemon", "apple", "banana", "banana"]}
d = {"candies": ["mars", "kinder", "twix"]}
d
market.update(d)
print (market)
market_new=market.copy()
market_new['fruits'].sort()
set1=set(market_new['fruits'])
market_new['fruits']=set1
set1

{'dairy': ['yogurt', 'cheese'], 'fruits': ['banana', 'apple', 'orange', 'lemon', 'apple', 'banana', 'banana'], 'candies': ['mars', 'kinder', 'twix']}

{'apple', 'banana', 'lemon', 'orange'}